.dockerignore
Dockerfile
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
.git
.mypy_cache/
pull_cluster_defs.sh
push_cluster_defs.sh
access.txt
test.sh
lambda/packages
.pytest_cache/
*.zip
